/*--------------------------SPINNER WIN8----------------------------------------*/
#overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.windows8 {
    position: absolute;
    width: 50px;
    height:50px;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
}

.windows8 .wBall {
    position: absolute;
    width: 67px;
    height: 67px;
    opacity: 0;
    -moz-transform: rotate(225deg);
    -moz-animation: orbit 4.4s infinite;
    -webkit-transform: rotate(225deg);
    -webkit-animation: orbit 4.4s infinite;
    -ms-transform: rotate(225deg);
    -ms-animation: orbit 4.4s infinite;
    -o-transform: rotate(225deg);
    -o-animation: orbit 4.4s infinite;
    transform: rotate(225deg);
    animation: orbit 4.4s infinite;
}

.windows8 .wBall .wInnerBall{
    position: absolute;
    width: 9px;
    height: 9px;
    background: #2618F2;
    left:0px;
    top:0px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    border-radius: 9px;
}

.windows8 #wBall_1 {
    -moz-animation-delay: 0.96s;
    -webkit-animation-delay: 0.96s;
    -ms-animation-delay: 0.96s;
    -o-animation-delay: 0.96s;
    animation-delay: 0.96s;
}

.windows8 #wBall_2 {
    -moz-animation-delay: 0.19s;
    -webkit-animation-delay: 0.19s;
    -ms-animation-delay: 0.19s;
    -o-animation-delay: 0.19s;
    animation-delay: 0.19s;
}

.windows8 #wBall_3 {
    -moz-animation-delay: 0.38s;
    -webkit-animation-delay: 0.38s;
    -ms-animation-delay: 0.38s;
    -o-animation-delay: 0.38s;
    animation-delay: 0.38s;
}

.windows8 #wBall_4 {
    -moz-animation-delay: 0.58s;
    -webkit-animation-delay: 0.58s;
    -ms-animation-delay: 0.58s;
    -o-animation-delay: 0.58s;
    animation-delay: 0.58s;
}

.windows8 #wBall_5 {
    -moz-animation-delay: 0.77s;
    -webkit-animation-delay: 0.77s;
    -ms-animation-delay: 0.77s;
    -o-animation-delay: 0.77s;
    animation-delay: 0.77s;
}

@-moz-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -moz-transform: rotate(180deg);
        -moz-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -moz-transform: rotate(300deg);
        -moz-animation-timing-function: linear;
        -moz-origin:0%;
    }

    30% {
        opacity: 1;
        -moz-transform:rotate(410deg);
        -moz-animation-timing-function: ease-in-out;
        -moz-origin:7%;
    }

    39% {
        opacity: 1;
        -moz-transform: rotate(645deg);
        -moz-animation-timing-function: linear;
        -moz-origin:30%;
    }

    70% {
        opacity: 1;
        -moz-transform: rotate(770deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin:39%;
    }

    75% {
        opacity: 1;
        -moz-transform: rotate(900deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin:70%;
    }

    76% {
        opacity: 0;
        -moz-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }

}

@-webkit-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -webkit-transform: rotate(180deg);
        -webkit-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -webkit-transform: rotate(300deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin:0%;
    }

    30% {
        opacity: 1;
        -webkit-transform:rotate(410deg);
        -webkit-animation-timing-function: ease-in-out;
        -webkit-origin:7%;
    }

    39% {
        opacity: 1;
        -webkit-transform: rotate(645deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin:30%;
    }

    70% {
        opacity: 1;
        -webkit-transform: rotate(770deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin:39%;
    }

    75% {
        opacity: 1;
        -webkit-transform: rotate(900deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin:70%;
    }

    76% {
        opacity: 0;
        -webkit-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }

}

@-ms-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -ms-transform: rotate(180deg);
        -ms-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -ms-transform: rotate(300deg);
        -ms-animation-timing-function: linear;
        -ms-origin:0%;
    }

    30% {
        opacity: 1;
        -ms-transform:rotate(410deg);
        -ms-animation-timing-function: ease-in-out;
        -ms-origin:7%;
    }

    39% {
        opacity: 1;
        -ms-transform: rotate(645deg);
        -ms-animation-timing-function: linear;
        -ms-origin:30%;
    }

    70% {
        opacity: 1;
        -ms-transform: rotate(770deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin:39%;
    }

    75% {
        opacity: 1;
        -ms-transform: rotate(900deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin:70%;
    }

    76% {
        opacity: 0;
        -ms-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }

}

@-o-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -o-transform: rotate(180deg);
        -o-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -o-transform: rotate(300deg);
        -o-animation-timing-function: linear;
        -o-origin:0%;
    }

    30% {
        opacity: 1;
        -o-transform:rotate(410deg);
        -o-animation-timing-function: ease-in-out;
        -o-origin:7%;
    }

    39% {
        opacity: 1;
        -o-transform: rotate(645deg);
        -o-animation-timing-function: linear;
        -o-origin:30%;
    }

    70% {
        opacity: 1;
        -o-transform: rotate(770deg);
        -o-animation-timing-function: ease-out;
        -o-origin:39%;
    }

    75% {
        opacity: 1;
        -o-transform: rotate(900deg);
        -o-animation-timing-function: ease-out;
        -o-origin:70%;
    }

    76% {
        opacity: 0;
        -o-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -o-transform: rotate(900deg);
    }

}

@keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        transform: rotate(180deg);
        animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        transform: rotate(300deg);
        animation-timing-function: linear;
        origin:0%;
    }

    30% {
        opacity: 1;
        transform:rotate(410deg);
        animation-timing-function: ease-in-out;
        origin:7%;
    }

    39% {
        opacity: 1;
        transform: rotate(645deg);
        animation-timing-function: linear;
        origin:30%;
    }

    70% {
        opacity: 1;
        transform: rotate(770deg);
        animation-timing-function: ease-out;
        origin:39%;
    }

    75% {
        opacity: 1;
        transform: rotate(900deg);
        animation-timing-function: ease-out;
        origin:70%;
    }

    76% {
        opacity: 0;
        transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        transform: rotate(900deg);
    }
}
/*---------------------------------------------END SPINNER---------------------------------------------*/

/*------------------------------------------------HEADER---------------------------------------------------*/
.header {
    width:100%;
    height:50px;
    line-height:50px;
    text-align: center;
    font-size: 24px;
    background:#FFF;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
}
.header:before, .header:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 30px rgba(0,0,0,0.2);
    -moz-box-shadow:0 0 30px rgba(0,0,0,0.8);
    box-shadow:0 0 30px rgba(0,0,0,0.6);
    top:50%;
    bottom:0;
    left:30px;
    right:30px;
    -moz-border-radius:500px / 10px;
    border-radius:500px / 10px;
}
.left_header_button{
    width: 50px;
    height: 100%;
    background: green;
    float: left;
    cursor: pointer;
}
.right_header_button{
    width: 50px;
    height: 100%;
    background: green;
    float: right;
    cursor: pointer;
}
/*-------------------------------------------MAIN SCREEN-------------------------------------------------*/
.main_screen{
    text-align: center;
    min-width: 300px;
}
.tip{
    margin: 15px 2% 10px 2%;
    font: 18px sans-serif;
}
input{
    box-sizing: border-box;
    width: 96%;
    border: 1px solid black;
    outline: none;
    height: 25px;
    margin-bottom: 15px;
}
.button_set{
    width: 70%;
    margin: auto;
}
.btn{
    height: 50px;
    width: 100px;
    background: red;
    line-height: 50px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.btn_left{
    float: left;
}
.btn_right{
    float: right;
}
.clear{
    clear: both;
}
.error{
    width: 96%;
    margin: 15px 0;
    font: 18px sans-serif;
}
.scrollable{
    width: 96%;
    margin: auto;
    overflow: hidden;
}
.list_on_main li{
    height: 50px;
    line-height: 50px;
    background: yellow;
    margin-top: 20px;
}
.recent_search{
    position: relative;
    text-align: left;
    padding-left: 2%;
    -webkit-transform: translate(-3000px);
    -moz-transform: translate(-3000px);
    -ms-transform: translate(-3000px);
    -o-transform: translate(-3000px);
    transform: translate(-3000px);
}
.count{
    float: right;
    margin-right: 2%;
}
/*.scroll_list{*/
    /*overflow: hidden;*/
    /*z-index: -2;*/
/*}*/
.wrap {
    position:absolute;
    z-index:-2;
    top:50px;
    bottom:0;
    left:0;
    width:100%;
    overflow:auto;
}
.scroll_list {
    position:absolute;
    width:100%;
    padding:0;
    z-index: -2;
}
.transition{
    width: 100%;
    -webkit-transform: translate(-3000px);
    -moz-transform: translate(-3000px);
    -ms-transform: translate(-3000px);
    -o-transform: translate(-3000px);
    transform: translate(-3000px);

    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.animate{
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0);
}