/*--------------------------SPINNER WIN8----------------------------------------*/
*{
    -webkit-user-select:html;
    -khtml-user-select:html;
    -moz-user-select:html;
    -ms-user-select:html;
    user-select:html;
}
html, body{
    height: 100%;
}
body{
    font-family: 'Roboto', sans-serif;
    background: black;
}
.wrapper{

    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: black;
}
#overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.windows8 {
    position: absolute;
    width: 50px;
    height:50px;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
}

.windows8 .wBall {
    position: absolute;
    width: 67px;
    height: 67px;
    opacity: 0;
    -moz-transform: rotate(225deg);
    -moz-animation: orbit 4.4s infinite;
    -webkit-transform: rotate(225deg);
    -webkit-animation: orbit 4.4s infinite;
    -ms-transform: rotate(225deg);
    -ms-animation: orbit 4.4s infinite;
    -o-transform: rotate(225deg);
    -o-animation: orbit 4.4s infinite;
    transform: rotate(225deg);
    animation: orbit 4.4s infinite;
}

.windows8 .wBall .wInnerBall{
    position: absolute;
    width: 9px;
    height: 9px;
    background: #2618F2;
    left:0px;
    top:0px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    border-radius: 9px;
}

.windows8 #wBall_1 {
    -moz-animation-delay: 0.96s;
    -webkit-animation-delay: 0.96s;
    -ms-animation-delay: 0.96s;
    -o-animation-delay: 0.96s;
    animation-delay: 0.96s;
}

.windows8 #wBall_2 {
    -moz-animation-delay: 0.19s;
    -webkit-animation-delay: 0.19s;
    -ms-animation-delay: 0.19s;
    -o-animation-delay: 0.19s;
    animation-delay: 0.19s;
}

.windows8 #wBall_3 {
    -moz-animation-delay: 0.38s;
    -webkit-animation-delay: 0.38s;
    -ms-animation-delay: 0.38s;
    -o-animation-delay: 0.38s;
    animation-delay: 0.38s;
}

.windows8 #wBall_4 {
    -moz-animation-delay: 0.58s;
    -webkit-animation-delay: 0.58s;
    -ms-animation-delay: 0.58s;
    -o-animation-delay: 0.58s;
    animation-delay: 0.58s;
}

.windows8 #wBall_5 {
    -moz-animation-delay: 0.77s;
    -webkit-animation-delay: 0.77s;
    -ms-animation-delay: 0.77s;
    -o-animation-delay: 0.77s;
    animation-delay: 0.77s;
}

@-moz-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -moz-transform: rotate(180deg);
        -moz-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -moz-transform: rotate(300deg);
        -moz-animation-timing-function: linear;
        -moz-origin:0%;
    }

    30% {
        opacity: 1;
        -moz-transform:rotate(410deg);
        -moz-animation-timing-function: ease-in-out;
        -moz-origin:7%;
    }

    39% {
        opacity: 1;
        -moz-transform: rotate(645deg);
        -moz-animation-timing-function: linear;
        -moz-origin:30%;
    }

    70% {
        opacity: 1;
        -moz-transform: rotate(770deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin:39%;
    }

    75% {
        opacity: 1;
        -moz-transform: rotate(900deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin:70%;
    }

    76% {
        opacity: 0;
        -moz-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }

}

@-webkit-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -webkit-transform: rotate(180deg);
        -webkit-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -webkit-transform: rotate(300deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin:0%;
    }

    30% {
        opacity: 1;
        -webkit-transform:rotate(410deg);
        -webkit-animation-timing-function: ease-in-out;
        -webkit-origin:7%;
    }

    39% {
        opacity: 1;
        -webkit-transform: rotate(645deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin:30%;
    }

    70% {
        opacity: 1;
        -webkit-transform: rotate(770deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin:39%;
    }

    75% {
        opacity: 1;
        -webkit-transform: rotate(900deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin:70%;
    }

    76% {
        opacity: 0;
        -webkit-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }

}

@-ms-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -ms-transform: rotate(180deg);
        -ms-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -ms-transform: rotate(300deg);
        -ms-animation-timing-function: linear;
        -ms-origin:0%;
    }

    30% {
        opacity: 1;
        -ms-transform:rotate(410deg);
        -ms-animation-timing-function: ease-in-out;
        -ms-origin:7%;
    }

    39% {
        opacity: 1;
        -ms-transform: rotate(645deg);
        -ms-animation-timing-function: linear;
        -ms-origin:30%;
    }

    70% {
        opacity: 1;
        -ms-transform: rotate(770deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin:39%;
    }

    75% {
        opacity: 1;
        -ms-transform: rotate(900deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin:70%;
    }

    76% {
        opacity: 0;
        -ms-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }

}

@-o-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -o-transform: rotate(180deg);
        -o-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -o-transform: rotate(300deg);
        -o-animation-timing-function: linear;
        -o-origin:0%;
    }

    30% {
        opacity: 1;
        -o-transform:rotate(410deg);
        -o-animation-timing-function: ease-in-out;
        -o-origin:7%;
    }

    39% {
        opacity: 1;
        -o-transform: rotate(645deg);
        -o-animation-timing-function: linear;
        -o-origin:30%;
    }

    70% {
        opacity: 1;
        -o-transform: rotate(770deg);
        -o-animation-timing-function: ease-out;
        -o-origin:39%;
    }

    75% {
        opacity: 1;
        -o-transform: rotate(900deg);
        -o-animation-timing-function: ease-out;
        -o-origin:70%;
    }

    76% {
        opacity: 0;
        -o-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -o-transform: rotate(900deg);
    }

}

@keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        transform: rotate(180deg);
        animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        transform: rotate(300deg);
        animation-timing-function: linear;
        origin:0%;
    }

    30% {
        opacity: 1;
        transform:rotate(410deg);
        animation-timing-function: ease-in-out;
        origin:7%;
    }

    39% {
        opacity: 1;
        transform: rotate(645deg);
        animation-timing-function: linear;
        origin:30%;
    }

    70% {
        opacity: 1;
        transform: rotate(770deg);
        animation-timing-function: ease-out;
        origin:39%;
    }

    75% {
        opacity: 1;
        transform: rotate(900deg);
        animation-timing-function: ease-out;
        origin:70%;
    }

    76% {
        opacity: 0;
        transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        transform: rotate(900deg);
    }
}
/*---------------------------------------------END SPINNER---------------------------------------------*/

/*-----------------------------------------------SPINNER SHOW MORE-----------------------------------------*/
#floatingBarsG{
    position:absolute;
    margin-top: -29px;
    top: 55%;
    left: 50%;
    margin-left: -80px;
    width:40px;
    height:50px
}
#floatingBarsG .spinner_label{
    font-size: 22px;
    color: #eaeff0;
    margin-left: 60px;
}
.blockG{
    position:absolute;
    background-color:#FFFFFF;
    width:6px;
    height:16px;
    -moz-border-radius:6px 6px 0 0;
    -moz-transform:scale(0.4);
    -moz-animation-name:fadeG;
    -moz-animation-duration:0.64s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -webkit-border-radius:6px 6px 0 0;
    -webkit-transform:scale(0.4);
    -webkit-animation-name:fadeG;
    -webkit-animation-duration:0.64s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -ms-border-radius:6px 6px 0 0;
    -ms-transform:scale(0.4);
    -ms-animation-name:fadeG;
    -ms-animation-duration:0.64s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -o-border-radius:6px 6px 0 0;
    -o-transform:scale(0.4);
    -o-animation-name:fadeG;
    -o-animation-duration:0.64s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    border-radius:6px 6px 0 0;
    transform:scale(0.4);
    animation-name:fadeG;
    animation-duration:0.64s;
    animation-iteration-count:infinite;
    animation-direction:linear;
}

#rotateG_01{
    left:0;
    top:18px;
    -moz-animation-delay:0.24000000000000005s;
    -moz-transform:rotate(-90deg);
    -webkit-animation-delay:0.24000000000000005s;
    -webkit-transform:rotate(-90deg);
    -ms-animation-delay:0.24000000000000005s;
    -ms-transform:rotate(-90deg);
    -o-animation-delay:0.24000000000000005s;
    -o-transform:rotate(-90deg);
    animation-delay:0.24000000000000005s;
    transform:rotate(-90deg);
}

#rotateG_02{
    left:5px;
    top:6px;
    -moz-animation-delay:0.32s;
    -moz-transform:rotate(-45deg);
    -webkit-animation-delay:0.32s;
    -webkit-transform:rotate(-45deg);
    -ms-animation-delay:0.32s;
    -ms-transform:rotate(-45deg);
    -o-animation-delay:0.32s;
    -o-transform:rotate(-45deg);
    animation-delay:0.32s;
    transform:rotate(-45deg);
}

#rotateG_03{
    left:17px;
    top:2px;
    -moz-animation-delay:0.4s;
    -moz-transform:rotate(0deg);
    -webkit-animation-delay:0.4s;
    -webkit-transform:rotate(0deg);
    -ms-animation-delay:0.4s;
    -ms-transform:rotate(0deg);
    -o-animation-delay:0.4s;
    -o-transform:rotate(0deg);
    animation-delay:0.4s;
    transform:rotate(0deg);
}

#rotateG_04{
    right:5px;
    top:6px;
    -moz-animation-delay:0.4800000000000001s;
    -moz-transform:rotate(45deg);
    -webkit-animation-delay:0.4800000000000001s;
    -webkit-transform:rotate(45deg);
    -ms-animation-delay:0.4800000000000001s;
    -ms-transform:rotate(45deg);
    -o-animation-delay:0.4800000000000001s;
    -o-transform:rotate(45deg);
    animation-delay:0.4800000000000001s;
    transform:rotate(45deg);
}

#rotateG_05{
    right:0;
    top:18px;
    -moz-animation-delay:0.56s;
    -moz-transform:rotate(90deg);
    -webkit-animation-delay:0.56s;
    -webkit-transform:rotate(90deg);
    -ms-animation-delay:0.56s;
    -ms-transform:rotate(90deg);
    -o-animation-delay:0.56s;
    -o-transform:rotate(90deg);
    animation-delay:0.56s;
    transform:rotate(90deg);
}

#rotateG_06{
    right:5px;
    bottom:5px;
    -moz-animation-delay:0.64s;
    -moz-transform:rotate(135deg);
    -webkit-animation-delay:0.64s;
    -webkit-transform:rotate(135deg);
    -ms-animation-delay:0.64s;
    -ms-transform:rotate(135deg);
    -o-animation-delay:0.64s;
    -o-transform:rotate(135deg);
    animation-delay:0.64s;
    transform:rotate(135deg);
}

#rotateG_07{
    bottom:0;
    left:17px;
    -moz-animation-delay:0.72s;
    -moz-transform:rotate(180deg);
    -webkit-animation-delay:0.72s;
    -webkit-transform:rotate(180deg);
    -ms-animation-delay:0.72s;
    -ms-transform:rotate(180deg);
    -o-animation-delay:0.72s;
    -o-transform:rotate(180deg);
    animation-delay:0.72s;
    transform:rotate(180deg);
}

#rotateG_08{
    left:5px;
    bottom:5px;
    -moz-animation-delay:0.8s;
    -moz-transform:rotate(-135deg);
    -webkit-animation-delay:0.8s;
    -webkit-transform:rotate(-135deg);
    -ms-animation-delay:0.8s;
    -ms-transform:rotate(-135deg);
    -o-animation-delay:0.8s;
    -o-transform:rotate(-135deg);
    animation-delay:0.8s;
    transform:rotate(-135deg);
}

@-moz-keyframes fadeG{
    0%{
        background-color:#000000}

    100%{
        background-color:#FFFFFF}

}

@-webkit-keyframes fadeG{
    0%{
        background-color:#000000}

    100%{
        background-color:#FFFFFF}

}

@-ms-keyframes fadeG{
    0%{
        background-color:#000000}

    100%{
        background-color:#FFFFFF}

}

@-o-keyframes fadeG{
    0%{
        background-color:#000000}

    100%{
        background-color:#FFFFFF}

}

@keyframes fadeG{
    0%{
        background-color:#000000}

    100%{
        background-color:#FFFFFF}

}
/*-----------------------------------------------END SPINNER SHOW MORE-----------------------------------------*/

/*------------------------------------------------HEADER---------------------------------------------------*/
.header {
    width: 100%;
    height: 72px;
    line-height: 72px;
    text-align: center;
    font-size: 30px;
    color: #ebf0f1;
    background: #13151a;
    position: relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
}
.header span{
    line-height: 72px;
}
.left_header_button{
    width: 70px;
    height: 100%;
    float: left;
    cursor: pointer;
}
.right_header_button{
    width: 70px;
    height: 100%;
    float: right;
    cursor: pointer;
}
#favorites{
    background: url(img/favor_icon.png) no-repeat center center;
}
#info{
    background: url(img/info_icon.png) no-repeat center center;
}
#home{
    background: url(img/logo.png) no-repeat center center;
}
.back{
    background: url(img/back_button.png), url(img/logo.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 10px center, 30px center;
}
/*-------------------------------------------MAIN SCREEN-------------------------------------------------*/
.main_screen{
    text-align: center;
    display: table;
    min-width: 300px;
}
.tip{

    overflow: hidden;
    padding: 15px 2% 10px 2%;
    height: auto;
    font-size: 18px;
    background: #232424;
    color: #bdc3c7;
    -webkit-transition: all 0.5s;
}
.input{
    height: 92px;
    background: #26ae60;
}
input{
    padding: 1%;
    font-size: 33px;
    color: white;
    box-sizing: border-box;
    width: 60%;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: #26ae60;
    height: 65px;
    margin-bottom: 15px;
}
.right_inp {
    display: inline-block;
    height: 5px;
    border-left: 1px solid white;
    position: absolute;
    margin-top: 60px;
    pointer-events: none;
}
.left_inp {
    display: inline-block;
    height: 5px;
    border-left: 1px solid white;
    position: absolute;
    margin-top: 60px;
    pointer-events: none;
}
input::after{
    content: 'asd'
}
input::-moz-placeholder {
    color: white;
}
input::-webkit-input-placeholder {
    color: white;
}
.btn{
    height: 100%;
    width: 15%;
    background: red;
    line-height: 50px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.btn_left{
    padding-left: 2%;
    float: left;
    background: url(img/loc_icon.png) no-repeat center center;
}
.btn_right{
    padding-right: 1%;
    float: right;
    background: url(img/search_icon.png) no-repeat center center;
}
.clear{
    clear: both;
}
.title{
    height: 46px;
    font-weight: bold;
    color: #2980b9;
    text-transform: uppercase;
    text-align: left;
    line-height: 46px;
    padding: 12px 2%;
}
.error{
    padding: 12px 2%;
    font-size: 18px;
    color: #e64c3c;
    text-align: center;
    background: #232424;
}
.main_screen{
    display: table;
}
.scrollable{
    display: table-row;
    height: 100%;
}
.list_on_main{
    height: 100%;
    overflow: auto;
}
.list_on_main li{
    height: 70px;
    line-height: 70px;
    background: #2980b9;
    border-bottom: 1px solid black;
    color: white;
    padding: 18px 2%;
    font-size: 24px;
}
.recent_search, .loc{
    position: relative;
    text-align: left;
    padding-left: 2%;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
.count{
    float: right;
    margin-right: 2%;
}
/*.scroll_list{*/
    /*overflow: hidden;*/
    /*z-index: -2;*/
/*}*/
.wrap {
    position:absolute;
    z-index:0;
    top:72px;
    bottom:0;
    left:0;
    width:100%;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}
/*.list_item {*/
    /*-webkit-transform: translateZ(0px);*/
/*}*/

/*.wrap > * {*/
    /*-webkit-transform: translate3d(0,0,0);*/
/*}*/
.temp_wrap{
    width: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
}
.transition{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;

    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.left{
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
.right{
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
.animate{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.img{
    width: 60px;
    height: 60px;
    float: left;
}
.list_item{
    min-height: 60px;
    position: relative;
    /*line-height: 60px;*/
    border-bottom: 1px solid black;
    background: #3498db;
}
.text{
    padding: 8px 2%;
    display: inline-block;
}
.price{
    margin-bottom: 8px;
    font-weight: bold;
}
.list_item:nth-child(2n+1){
    background: #2980b9;
}
.show_more{
    height: 60px;
    line-height: 60px;
    background: #13151a;
    position: relative;
}
.favor{
    margin-top: -12px;
    top: 50%;
    right: 2%;
    position: absolute;
    width: 24px;
    height: 24px;
    background: url(img/unfavor.png) no-repeat center center;
}
.details{
    position: relative;
}
.add_to_favorite{
    float: right;
    width: 70px;
    height: 30px;
    background: url(img/favor_icon.png) no-repeat center center;
}
.clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
}

/*----------------------------------------------------------------detail screen-----------------------------------------------------*/
.details_top{
    min-height: 48px;
    color: #eaeff0;
    padding: 44px 2% 22px 2%;
}
.details_top>.text{
    padding: 0;
}
.active{
    background: url(img/favor.png) no-repeat center center;
}
.details>img{
    display: block;
    margin: auto;
}
.desc{
    color: #bdc3c7;
    font-size: 16px;
    padding: 15px 2%;
}
.hidden{
   display: none;
}
.showed{
    -webkit-transform: translateY(0);
    -webkit-transition: 0.5s;
}