<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="libs/jquery.js"></script>
    <script src="libs/underscore.js"></script>
    <script src="libs/backbone.js"></script>
</head>
<body>
<div class="wrapper">
    Property Cross
    <div class="main_screen">
    </div>
</div>

<script type="text/template" id="main_screen">
    <h1>HELLLO</h1>
    <input type="text" id="place"/>
    <button id="search">Search</button>
    <button id="show">Show</button>
    <% if (error) { %>
    <h1><%= error%></h1>
    <% } else if (locations) {%>
    <ul>
        <% _.each(locations, function(loc) { %>
        <li data-place="<% loc.place_name %>"><%= loc.long_title %></li>
        <% }); %>
    </ul>
    <% } else if (recentSearch && recentSearch.length) { %>
    <ul>
        <% _.each(recentSearch, function(elem) { %>
        <li class="recent_search"><span class="place_title"><%= elem.place %></span><span>(<%= elem.totalRes %>)</span></li>
        <% }); %>
    </ul>
    <% } %>
</script>

<script type="text/template" id="list_screen">
    <button class="back">Back</button>
    <ul>
        <% _.each(listings, function(list) { %>
        <li><img src="<%= list.thumb_url %>" alt="thumb"/> <%= list.title%> </li>
        <% }); %>
    </ul>
</script>

</body>
<script type="text/javascript">
    Array.prototype.remove = function(from, to) {
        var rest = this.slice((to || from) + 1 || this.length);
        this.length = from < 0 ? this.length + from : from;
        return this.push.apply(this, rest);
    };


//    -------------------------------MODELS--------------------------------
    var City = Backbone.Model.extend();
    var Location = Backbone.Model.extend();
    var Listings = Backbone.Collection.extend({
        url: 'http://api.nestoria.co.uk/api?country=uk&pretty=1&action=search_listings&encoding=json&listing_type=buy&page=1',
        model: City,
        parse: function(resp, xhr){
            return resp.response.listings;
        }
    });
    var Locations = Backbone.Collection.extend({
        model: Location
    });
    var listings = new Listings();
    var locations = new Locations();



//    -------------------------------VIEWS--------------------------------
    var MainScreen = Backbone.View.extend({
        el: '.main_screen',
        template: _.template($('#main_screen').html()),
        render: function(val){
            var toTemplate = {recentSearch: this.getRecentSearches() ? this.getRecentSearches() : null, error: null, locations: null};
            if(val === 'error'){
                toTemplate.error = 'ERROR!!!';
            }else if(val === 'locations'){
                toTemplate.locations = this.locations.toJSON();
            }
            this.$el.html(this.template(toTemplate))
        },
        initialize: function(){
            this.listings = listings;
            this.locations = locations;
        },
        events: {
            'click #search': 'search',
            'click #show': 'show',
            'click li.recent_search': 'clickRecentSearch'
        },
        show: function(){
            console.log('-=-=-=-=-=-=-=-=-=-=-=-=-=-=-==--=')
            console.log(this.listings);
            console.log(this.locations);
            console.log(window.localStorage.getItem('recentSearches'));
        },
        getRecentSearches: function(){
            return JSON.parse(window.localStorage.getItem('recentSearches'));
        },
        clickRecentSearch: function(e){
            var target = $(e.currentTarget),
                val = target.find('span.place_title').text();
            this.search(null, val)
        },
        arrayMove: function (array, from) {
            if(from === 0) return;
            var clone = array.slice(0),
                target = clone[from];

            array.remove(from);
            array.unshift(target);
            console.log(array)

        },
        findObjPositionInArray: function(arr, val, property){
            var counter = 0,
                pos = -1;
            arr.forEach(function(elem){
                if (elem[property] === val){
                    pos = counter;
                }
                counter++;
            });
            return pos;
        },
        moveElementInTop: function(recentSearches, place){
            var from = +this.findObjPositionInArray(recentSearches, place, 'place');
            this.arrayMove(recentSearches, from);
            window.localStorage.setItem('recentSearches', JSON.stringify(recentSearches));
        },
        isPlaceInRecentSearch: function(recentSearches, place){
            var isPlaceThere = false;
            recentSearches.forEach(function(obj){
                if(obj.place === place){
                    isPlaceThere = true;
                }
            });
            return isPlaceThere;
        },
        addToRecentSearches: function (place, totalRes){
            var recentSearches = this.getRecentSearches();
            if(recentSearches && recentSearches.length){
               if(this.isPlaceInRecentSearch(recentSearches, place)) {
                   this.moveElementInTop(recentSearches, place);
                   return;
               }
            }else{
                recentSearches = [];
            }
            recentSearches.unshift({place: place, totalRes: totalRes});
            window.localStorage.setItem('recentSearches', JSON.stringify(recentSearches));
        },
        handleResponseCode: function(resp){
            var code = resp.response.application_response_code,
                place = resp.request.location,
                totalRes = resp.response.total_results;
            switch(code){
                case "100":
                case "101":
                case "110":
                    if(this.listings.length){
                        this.addToRecentSearches(place, totalRes);
                        router.navigate("listView", {trigger: true});
                    }
                    break;
                case "200":
                case "202":
                    if(this.locations.length){
                        this.render('locations');
                    }
                    break;
                default: this.render('error');

            }
        },
        search: function(e, val){
            var self = this,
                place = val || this.$el.find('#place').val();
            console.log(place)
            this.listings.fetch({
                data: {place_name: place},
                success: function(col, resp){
                    self.locations.reset(resp.response.locations);
                    self.handleResponseCode(resp)
                }
            })
        }
    });
    var ListScreen = Backbone.View.extend({
        el: '.main_screen',
        template: _.template($('#list_screen').html()),
        render: function(){
            var toTemplate = {listings: listings.toJSON()};
            this.$el.html(this.template(toTemplate))
        },
        events: {
            'click .back': 'back'
        },
        back: function(){
            router.navigate("", {trigger: true});
//            window.history.back();
        }
    });
    var mainScreen = new MainScreen();
    var listScreen = new ListScreen();


//    -------------------------------ROUTERS--------------------------------
    var Router = Backbone.Router.extend({
        routes: {
            '' : 'home',
            'listView' : 'list_screen'
        }
    });
    var router = new Router();
    router.on('route:home', function(){
        mainScreen.render();
    });
    router.on('route:list_screen', function(){
        listScreen.render();
    });


    Backbone.history.start();
</script>
</html>