<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <script src="libs/jquery.js"></script>
    <script src="libs/underscore.js"></script>
    <script src="libs/backbone.js"></script>
    <script src="libs/backbone.responsiveCSS3transitions.js"></script>
    <script src="libs/iscroll-probe.js"></script>
    <script src="libs/fastclick.js"></script>
    <link rel="stylesheet" href="reset.css"/>
    <link rel="stylesheet" href="assets.css"/>
</head>
<body>
<div class="wrapper">
    <div class="main_screen transition"></div>
    <div class="list_screen transition right"></div>
    <div class="item_screen transition right"></div>
    <div class="favorite_screen transition right"></div>
    <div class="favorite_item_screen transition right"></div>
    <div id="overlay" style="display: none">
        <div class="windows8">
            <div class="wBall" id="wBall_1">
                <div class="wInnerBall">
                </div>
            </div>
            <div class="wBall" id="wBall_2">
                <div class="wInnerBall">
                </div>
            </div>
            <div class="wBall" id="wBall_3">
                <div class="wInnerBall">
                </div>
            </div>
            <div class="wBall" id="wBall_4">
                <div class="wInnerBall">
                </div>
            </div>
            <div class="wBall" id="wBall_5">
                <div class="wInnerBall">
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/template" id="main_screen">
    <div class="header">
        <div class="left_header_button" id="home"></div>
        <span>Property Cross</span>
        <div class="right_header_button" id="favorites"></div>
        <div class="right_header_button" id="info"></div>
    </div>
    <p class="tip hiden">Use the form below to search for houses to buy. You can search by place-name, postcode or click 'My location', to search in your current location</p>
    <div class="input">
        <div class='left_inp'></div>
        <input type="text" id="place" value="<%= this.inputVal %>" placeholder="Search"/>
        <div class='right_inp'></div>
        <div class="btn btn_left" id="my_location"></div>
        <div class="btn btn_right" id="search"></div>
        <div class="clear"></div>
    </div>
    <div class="for_error"></div>
    <% if (locations) {%>
    <div class="title">
        Nearest locations
    </div>
    <div class="scrollable">
        <ul class="list_on_main">
            <% _.each(locations, function(loc) { %>
            <li data-place="<%= loc.place_name %>" class="loc"><%= loc.long_title %></li>
            <% }); %>
        </ul>
    </div>
    <% } else if (recentSearch && recentSearch.length) { %>
    <div class="title">
        Recent searches
    </div>
    <div class="scrollable">
        <ul class="list_on_main">
            <% _.each(recentSearch, function(elem) { %>
            <li class="recent_search" data-placename="<%= elem.place %>"><span class="place_title"><%= elem.longName %></span><span class="count"><%= elem.totalRes %></span></li>
            <% }); %>
        </ul>
    </div>
    <% } %>
</script>

<script type="text/template" id="list_screen">
        <div class="header">
            <div class="left_header_button back back_on_list"></div>
            <span class="total_results"><span class="current_result"><%= listings.length %></span><% if(listings.totalResults > 20) { %> from <%= listings.totalResults %> <% } %></span>
            <div class="right_header_button" id="favorites"></div>
        </div>
        <div class="wrap">
            <div class="scroll_list">
                <ul>
                    <% _.each(listings.models, function(list) { %>
                        <li class="list_item" data-guid="<%= list.attributes.guid %>"><div class="img clearfix" style="background: url(<%= list.attributes.thumb_url %>)"></div><div class="text"><p class="price"><%= list.attributes.price_formatted%></p><p class="house_title"><%= list.attributes.title%></p> </div><%  if(list.attributes.isFavorite){ %><div class="favor"></div><% } %></li>
                    <% }); %>
                    <% if(listings.totalResults > 20 && listings.length !== listings.totalResults) { %>
                    <li class="show_more">
                        <div id="floatingBarsG">
                            <div class="blockG" id="rotateG_01">
                            </div>
                            <div class="blockG" id="rotateG_02">
                            </div>
                            <div class="blockG" id="rotateG_03">
                            </div>
                            <div class="blockG" id="rotateG_04">
                            </div>
                            <div class="blockG" id="rotateG_05">
                            </div>
                            <div class="blockG" id="rotateG_06">
                            </div>
                            <div class="blockG" id="rotateG_07">
                            </div>
                            <div class="blockG" id="rotateG_08">
                            </div>
                            <div class="spinner_label">Loading...</div>
                        </div>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
</script>

<script type="text/template" id="item_screen">
        <div class="header">
            <div class="left_header_button back back_on_item"></div>
            <span>Details</span>
            <div class="right_header_button" id="favorites"></div>
        </div>
        <div class="details">
            <div class="details_top">
                <div class="text">
                    <div class="price"><%= details.price_formatted %></div>
                    <div class="house_title"><%= details.title %></div>
                </div>
                <div class="add_to_favorite <% if(details.isFavorite) { %> active <% } %>"></div>
            </div>
            <img src="<%= details.img_url %>" alt="home"/>
            <p class="desc"><%= details.summary %></p>
        </div>
</script>

<script type="text/template" id="favorite_screen">
        <div class="header">
            <div class="left_header_button back"></div>
            <span>Favorites</span>
        </div>
        <div class="wrap wrap_favor">
            <div class="scroll_list">
                <ul class="favorites">
                    <% _.each(favorites, function(favor) { %>
                    <li class="list_item" data-guid="<%= favor.guid %>"><div class="img clearfix" style="background: url(<%= favor.thumb_url %>)"></div><div class="text"><p class="price"><%= favor.price_formatted %></p><p class="house_title"><%= favor.title %></p></div></li>
                    <% }); %>
                </ul>
            </div>
        </div>
</script>

<script type="text/template" id="favorite_item_screen">
    <div class="header">
        <div class="left_header_button back"></div>
        <span>Details</span>
        <div class="right_header_button" id="favorites"></div>
    </div>
    <div class="details">
        <div class="details_top">
            <div class="text">
                <div class="price"><%= details.price_formatted %></div>
                <div class="house_title"><%= details.title %></div>
            </div>
            <div class="add_to_favorite <% if(details.isFavorite) { %> active <% } %>"></div>
        </div>
        <img src="<%= details.img_url %>" alt="home"/>
        <p class="desc"><%= details.summary %></p>
    </div>
</script>

</body>
<script type="text/javascript">
    Array.prototype.removeFromArray = function(from, to) {
        var rest = this.slice((to || from) + 1 || this.length);
        this.length = from < 0 ? this.length + from : from;
        return this.push.apply(this, rest);
    };

    $(function() {
        FastClick.attach(document.body);
    });


//    -------------------------------MODELS--------------------------------
    var State = Backbone.Model.extend({
        defaults: {
            current: {
                url: null,
                selector: null,
                view: null
            },
            previous: [],
            forward: true

        }
    });
    var City = Backbone.Model.extend({
        initialize: function(elem){
           var favorites = detailScreen.getFavorites();
           if(favorites && favorites.length){
               for(var i= 0,l = favorites.length; i<l; i++){
                   if(favorites[i]['guid'] === elem.guid){
                       this.attributes.isFavorite = true;
                   }
               }
           }
        },
        parse: function(elem, xhr){
            delete elem.auction_date;
            delete elem.car_spaces;
            delete elem.construction_year;
            delete elem.commission;
            delete elem.datasource_name;
            delete elem.img_height;
            delete elem.img_width;
            delete elem.keywords;
            delete elem.latitude;
            delete elem.lister_name;
            delete elem.lister_url;
            delete elem.listing_type;
            delete elem.location_accuracy;
            delete elem.longitude;
            delete elem.price_coldrent;
            delete elem.price_type;
            delete elem.property_type;
            delete elem.updated_in_days;
            delete elem.updated_in_days_formatted;
            return elem;
        }
    });
    var Location = Backbone.Model.extend();
    var Listings = Backbone.Collection.extend({
        url: 'http://api.nestoria.co.uk/api?country=uk&pretty=1&action=search_listings&encoding=json&listing_type=buy&callback=?',
        model: City,
        parse: function(resp, xhr){
            return resp.response.listings;
        }
    });
    var Locations = Backbone.Collection.extend({
        model: Location
    });

    var listings = new Listings();
    var locations = new Locations();
    var states = new State();



//    -------------------------------VIEWS--------------------------------
    var MainScreen = Backbone.View.extend({
        el: '.main_screen',
        className: 'main-screen',
        template: _.template($('#main_screen').html()),
        render: function(val){
            if(!listScreen.back && !favoritesScreen.back){
                states.attributes.previous.push(states.get('current'));
                states.set({current: {url: '', selector: '.main_screen', view: this}});
            }
            var toTemplate = {recentSearch: this.getRecentSearches() ? this.getRecentSearches() : null, locations: null};
            if(val === 'locations'){
                toTemplate.locations = this.locations.toJSON();
            }
            this.$el.html(this.template(toTemplate));
            var height = $(window).height() - $('.scrollable').offset().top;
            $('.scrollable').css('height', height);
            if(toTemplate.recentSearch){
                this.animateRecentSearches();
            }
            if(toTemplate.locations){
                this.animateLocations();
            }
            this.myScroll = new IScroll('.scrollable', { freeScroll: true, click: true});
            listScreen.back = false;
            favoritesScreen.back = false;
            this.clicked = false;
            this.calledCount = 0;
            return this;
        },
        initialize: function(){
            this.listings = listings;
            this.locations = locations;
        },
        events: {
            'click #search': 'search',
            'click #my_location': 'searchByCurrentLocation',
            'click li.recent_search': 'clickRecentSearch',
            'click li.loc': 'clickLocation',
            'click #favorites': 'goToFavorites',
            'click #info': 'toggleInfo'
        },
        animateRecentSearches: function(){
            var recentSearches = this.$el.find('.recent_search');
            var delay = 0;
            for(var i=0; i<=recentSearches.length; i++ ){
                delay = delay + 0.1;
                if(recentSearches[i]){
                    $(recentSearches[i]).css({
                        '-webkit-transform': 'translate(0)',
                        '-moz-transform': 'translate(0)',
                        '-ms-transform': 'translate(0)',
                        '-o-transform': 'translate(0)',
                        'transform': 'translate(0)',
                        '-webkit-transition': '0.5s ' + delay + 's',
                        '-moz-transition': '0.5s' + delay + 's',
                        '-ms-transition': '0.5s' + delay + 's',
                        '-o-transition': '0.5s' + delay + 's',
                        'transition': '0.5s' + delay + 's'
                    })
                }
            }
        },
        animateLocations: function(){
            var locations = this.$el.find('.loc'),
                delay = 0;
            for(var j=0; j<=locations.length; j++ ){
                delay = delay + 0.1;
                if(locations[j]){
                    $(locations[j]).css({
                        '-webkit-transform': 'translate(0)',
                        '-moz-transform': 'translate(0)',
                        '-ms-transform': 'translate(0)',
                        '-o-transform': 'translate(0)',
                        'transform': 'translate(0)',
                        '-webkit-transition': '0.5s ' + delay + 's',
                        '-moz-transition': '0.5s' + delay + 's',
                        '-ms-transition': '0.5s' + delay + 's',
                        '-o-transition': '0.5s' + delay + 's',
                        'transition': '0.5s' + delay + 's'
                    })
                }
            }
        },
        toggleInfo: function(){
            var tip = this.$el.find('.tip');

            if(!tip.is(':visible')){
                this.recalculateRecentSearchHeight(tip.outerHeight(true))
            }else{
                this.recalculateRecentSearchHeight(-tip.outerHeight(true))
            }
            this.$el.find('.tip').toggleClass('hiden');
        },
        recalculateRecentSearchHeight: function(height){
            var scrollEl = this.$el.find('.scrollable');
            if(height>0){
                scrollEl.height("-=" + height);
            }else{
                height = Math.abs(height);
                scrollEl.height("+=" + height);
            }
            this.myScroll.refresh();
        },
        handleErrors: function(val){
            if(!val) return;
            var errorMessage = '',
                code = val.error,
                mesHeight = 0;

            switch (code) {
                case 1: errorMessage = '<div class="error">There were no properties found for the given location.</div>'; break;
                case 2: errorMessage =  '<div class="error">The location given was not recognised.</div>'; break;
                case 3:  errorMessage =  '<div class="error">An error occurred while searching. Please check your network connection and try again.</div>'; break;
                case 4: errorMessage =  '<div class="error">The use of location is currently disabled.</div>'; break;
                case 5: errorMessage = '<div class="error">Unable to detect current location. Please ensure location is turned on in your phone settings and try again.</div>'; break;
                case 6: errorMessage = '<div class="error">Server error. Code ' + val.options.status + '</div>'; break;
            }
           this.$el.find('.for_error').html(errorMessage);
            mesHeight = this.$el.find('.for_error').outerHeight(true);
            if(!this.calledCount){
                this.recalculateRecentSearchHeight(mesHeight)
            }
            this.calledCount+=1;
        },
        goToFavorites: function(){
            if(!this.clicked){
                states.attributes.forward = true;
                states.attributes.previous.push(states.get('current'));
                states.set({current: {url: 'favoriteView', selector: '.favorite_screen', view: this}});
                router.navigate("favoriteView", {trigger: true})
            }
            this.clicked = true;
        },
        searchByCurrentLocation: function(){
            var self = this, latitude='', longtitude='', coordinates;
            navigator.geolocation.getCurrentPosition(function(pos){
                latitude = pos.coords.latitude;
                longtitude = pos.coords.longitude;
                latitude = '51.684183';
                longtitude = '-3.431481';
                coordinates = latitude + ',' + longtitude;
                self.search(null, null, coordinates);
            }, function(){
                self.handleErrors({error: 5})
            }, {timeout: 5000});
        },
        getRecentSearches: function(){
            return JSON.parse(window.localStorage.getItem('recentSearches'));
        },
        clickRecentSearch: function(e){
            var target = $(e.currentTarget),
                val = target.data('placename');
            this.search(null, val)
        },
        clickLocation: function(e){
            var target = $(e.currentTarget),
                place = target.data('place');
            this.search(null, place);
        },
        arrayMove: function (array, from) {
            if(from === 0) return;
            var clone = array.slice(0),
                target = clone[from];
            array.removeFromArray(from);
            array.unshift(target);
        },
        findObjPositionInArray: function(arr, val, property){
            var counter = 0,
                pos = -1;
            arr.forEach(function(elem){
                if (elem[property] === val){
                    pos = counter;
                }
                counter++;
            });
            return pos;
        },
        moveElementInTop: function(recentSearches, place, totalRes){
            var from = +this.findObjPositionInArray(recentSearches, place, 'place');
            recentSearches[from]['totalRes'] = totalRes;
            this.arrayMove(recentSearches, from);
            window.localStorage.setItem('recentSearches', JSON.stringify(recentSearches));
        },
        isPlaceInRecentSearch: function(recentSearches, place){
            var isPlaceThere = false;
            recentSearches.forEach(function(obj){
                if(obj.place === place){
                    isPlaceThere = true;
                }
            });
            return isPlaceThere;
        },
        addToRecentSearches: function (place, totalRes){
            place = place.toLowerCase();
            var longName = this.locations.where({place_name: place})[0].get('long_title');
            var recentSearches = this.getRecentSearches();
            if(recentSearches && recentSearches.length){
               if(this.isPlaceInRecentSearch(recentSearches, place)) {
                   this.moveElementInTop(recentSearches, place, totalRes);
                   return;
               }
            }else{
                recentSearches = [];
            }
            recentSearches.unshift({place: place, totalRes: totalRes, longName: longName});
            window.localStorage.setItem('recentSearches', JSON.stringify(recentSearches));
        },
        handleResponseCode: function(resp, coordinates){
            var code = resp.response.application_response_code,
                place = resp.request.location,
                totalRes = resp.response.total_results,
                statusCode = resp.response.status_code;
//            if(statusCode !== '200'){
//                this.handleErrors({error: 3});
//                return;
//            }
            switch(code){
                case "100":
                case "101":
                case "110":
                    if(this.listings.length){
                        if(!coordinates) this.addToRecentSearches(place, totalRes);
                        this.listings.totalResults = totalRes;
                        if(!this.clicked){
                            states.attributes.forward = true;
                            states.attributes.previous.push(states.get('current'));
                            states.set({current: {url: 'listView', selector: '.list_screen', view: this}});
                            router.navigate("listView", {trigger: true});
                        }
                        this.clicked = true;
                    }else{
                        this.handleErrors({error: 1});
                    }
                    break;
                case "200":
                case "202":
                    if(this.locations.length){
                        this.render('locations');
                    }else{
                        this.handleErrors({error: 1});
                    }
                    break;
                default: this.handleErrors({error: 2});
            }
        },
        search: function(e, val, coordinates){
            var self = this,
                place = val || this.$el.find('#place').val();
            $('.wrapper').find('#overlay').removeAttr('style');
            this.inputVal = place;
            this.listings.fetch({
                timeout: 5000,
                data: coordinates ? {page: 1, centre_point: coordinates} : {page: 1, place_name: place},
                success: function(col, resp){
                    self.locations.reset(resp.response.locations);
                    self.handleResponseCode(resp, coordinates);
                    coordinates ? (self.listings.coordinates) = coordinates : self.listings.place = place;
                    self.listings.page = +resp.response.page;
                    console.log(resp)
                    $('.wrapper').find('#overlay').css('display', 'none');
                },
                error: function(col, resp, options){
                    self.handleErrors({error: 6, options: resp});
                    $('.wrapper').find('#overlay').css('display', 'none');
                }
            })
        }
    });


    var ListScreen = Backbone.View.extend({
        el: '.list_screen',
        template: _.template($('#list_screen').html()),
        render: function(){
            var self = this,
            toTemplate = {listings: listings};
            this.$el.html(this.template(toTemplate));
            self.myScroll = new IScroll('.wrap', {
                tap: true,
                click: true,
                probeType: 3
            });
            self.myScroll.on('scroll', self.updatePosition);
            self.myScroll.on('beforeScrollStart', self.getListHeight);
            self.checkOnFavorites();
            this.back = true;
            this.clicked = false;
        },
        events: {
            'click .list_item': 'clickOnItem',
            'click .back_on_list': 'goBackList',
            'click #favorites': 'goToFavorites'
        },
        flag: 0,
        goToFavorites: function(){
            if(!this.clicked){
                states.attributes.forward = true;
                states.attributes.previous.push(states.get('current'));
                states.set({current: {url: 'favoriteView', selector: '.favorite_screen', view: this}});
                router.navigate("favoriteView", {trigger: true})
            }
            this.clicked = true;
        },
        updateList: function(moreItems){
            var list = '', self = this, currentResult = +this.$el.find('.current_result').text();
            for(var i = 0; i < moreItems.length; i++){
                list += '<li class="list_item" data-guid="' + moreItems[i]['guid'] + '"><div class="img clearfix" style="background: url(' + moreItems[i]['thumb_url'] + ')"></div><div class="text"><p class="price">' + moreItems[i]['price_formatted'] + '</p><p class="house_title">' + moreItems[i]['title'] + '</p></div></li>';
            }
            if(listings.length === listings.totalResults){
                $('.show_more').replaceWith(list);
                $('.current_result').text(currentResult + moreItems.length);
                self.myScroll.refresh();
                return;
            }
            $('.show_more').before(list);
            $('.current_result').text(currentResult + moreItems.length);
            self.myScroll.refresh();
        },
        show: function(){
            if(this.flag === 1){
                if(listings.length < listings.totalResults){
                    this.showMore();
                }
            }
        },
        getListHeight: function(){
            if(listScreen.scrollHeight === Math.abs(this.maxScrollY)){
                return;
            }
            listScreen.flag = 0;
            listScreen.scrollHeight = Math.abs(this.maxScrollY);
        },
        updatePosition: function () {
            var heightForSpinner = listScreen.scrollHeight - listScreen.$el.find('.show_more').height();
            if(Math.abs((this.y>>0)) > heightForSpinner){
                listScreen.flag++;
                listScreen.show();
            }
        },
        goBackList: function(){
            if(!this.clicked){
                var previous = states.get('previous');
                states.attributes.forward = false;
                router.navigate(previous[previous.length - 1]['url'], {trigger: true});
                listings.coordinates = null;
            }
            this.clicked = true;
            this.back = false;
//            window.history.back();


        },
        checkOnFavorites: function(){
            var favorites = detailScreen.getFavorites();
            if (favorites){
                for(var i=0; i<favorites.length; i++){
                    console.log(listings.where({guid: favorites[i]['guid']}));
                }
            }
        },
        clickOnItem: function(e){
            if(!this.clicked){
                var target = $(e.currentTarget),
                    id = target.data('guid');
                states.attributes.forward = true;
                states.attributes.previous.push(states.get('current'));
                states.set({current: {url: 'detailView/' + id, selector: '.item_screen', view: this}});
                router.navigate("detailView/" + id, {trigger: true});
            }
            this.clicked = true;
        },
        showMore: function(){
            var page = listings.page + 1;
            var self = this;
            listings.fetch({
                remove: false,
                data: listings.coordinates ? {page: page, centre_point: listings.coordinates} : {page: page, place_name: listings.place},
                success: function(col, resp){
                    listings.page = page;
                    self.updateList(resp.response.listings);
                }
            })
        }
    });


    var DetailScreen = Backbone.View.extend({
        el: '.item_screen',
        template: _.template($('#item_screen').html()),
        render: function(id){
            var isFavorite = null, self = this;
            if (this.getFavorites()){
                isFavorite = this.isFavorite(this.getFavorites(), id);
            }
            if(isFavorite){
                var pos = mainScreen.findObjPositionInArray(this.getFavorites(), id, 'guid');
                this.openDetail = this.getFavorites()[pos];
            }else{
                this.openDetail = listings.where({guid: id})[0].attributes;
            }
            var toTemplate = {details: this.openDetail, isFavorite: isFavorite};
            this.$el.html(this.template(toTemplate));
            this.clicked = false;
        },
        events: {
            'click .add_to_favorite': 'addToFavorite',
            'click .back_on_item': 'goBackItem',
            'click #favorites': 'goToFavorites'
        },
        goBackItem: function(){
            if(!this.clicked){
                var previous = states.get('previous');
                states.attributes.forward = false;
                router.navigate(previous[previous.length - 1]['url'], {trigger: true});
            }
           this.clicked = true;
//            window.history.back();
        },
        goToFavorites: function(){
            if(!this.clicked){
                states.attributes.forward = true;
                states.attributes.previous.push(states.get('current'));
                states.set({current: {url: 'favoriteView', selector: '.favorite_screen', view: this}});
                router.navigate("favoriteView", {trigger: true})
            }
            this.clicked = true;
        },
        isFavorite: function(favorites, id){
            var isFavorite = false;
            favorites.forEach(function(obj){
                if(obj.guid === id){
                    isFavorite = true;
                }
            });
            return isFavorite;
        },
        getFavorites: function(){
            return JSON.parse(window.localStorage.getItem('favorites'));
        },
        addToFavorite: function(e){
            var target = $(e.currentTarget),
                favorite = this.openDetail,
                favorites = this.getFavorites(),
                model = listings.where({guid: this.openDetail.guid});

            if(!favorites){
                favorites = [];
            }
            if(!target.hasClass('active')){
                target.addClass('active');
                favorites.unshift(favorite);
                model[0].attributes.isFavorite = true;
                window.localStorage.setItem('favorites', JSON.stringify(favorites));
            }else{
                var positionInArray = mainScreen.findObjPositionInArray(favorites, favorite.guid, 'guid');
                target.removeClass('active');
                favorites.splice(positionInArray, 1);
                model[0].attributes.isFavorite = null;
                window.localStorage.setItem('favorites', JSON.stringify(favorites));
            }

        }
    });


    var FavoriteScreen = Backbone.View.extend({
        el: '.favorite_screen',
        template: _.template($('#favorite_screen').html()),
        render: function(){
            var toTemplate = {favorites: detailScreen.getFavorites(), back: null};
            this.$el.html(this.template(toTemplate));
            this.myScrollFavorites = new IScroll('.wrap_favor', {
                tap:true,
                click: true,
                probeType: 3
            });
            this.back = true;
            this.clicked = false;
        },
        events: {
            'click .back': 'goBack',
            'click .list_item': 'clickOnItem'
        },
        goBack: function(){
            if(!this.clicked){
                var previous = states.get('previous');
                states.attributes.forward = false;
                router.navigate(previous[previous.length - 1]['url'], {trigger: true});
            }
           this.clicked = true;
           this.back = false;
//            window.history.back();
        },
        clickOnItem: function(e){
            if(!this.clicked){
            var target = $(e.currentTarget),
                    id = target.data('guid');
            states.attributes.forward = true;
            states.attributes.previous.push(states.get('current'));
            states.set({current: {url: 'favoriteDetailView/' + id, selector: '.favorite_item_screen', view: this}});
            router.navigate("favoriteDetailView/" + id, {trigger: true});
            }
            this.clicked = true;
        }
    });

    var FavoriteDetailScreen = Backbone.View.extend({
        el: '.favorite_item_screen',
        template: _.template($('#favorite_item_screen').html()),
        render: function(id){
            var isFavorite = null, self = this;
            if (this.getFavorites()){
                isFavorite = this.isFavorite(this.getFavorites(), id);
            }
            if(isFavorite){
                var pos = mainScreen.findObjPositionInArray(this.getFavorites(), id, 'guid');
                this.openDetail = this.getFavorites()[pos];
            }else{
                this.openDetail = listings.where({guid: id})[0].attributes;
            }
            var toTemplate = {details: this.openDetail, isFavorite: isFavorite};
            this.$el.html(this.template(toTemplate));
            this.clicked = false;
        },
        events: {
            'click .add_to_favorite': 'addToFavorite',
            'click .back': 'goBack',
            'click #favorites': 'goToFavorites'
        },
        goBack: function(){
            if(!this.clicked){
                var previous = states.get('previous');
                states.attributes.forward = false;
                router.navigate(previous[previous.length - 1]['url'], {trigger: true});
            }
            this.clicked = true;
//            window.history.back();
        },
        goToFavorites: function(){
            this.goBack();
        },
        isFavorite: function(favorites, id){
            var isFavorite = false;
            favorites.forEach(function(obj){
                if(obj.guid === id){
                    isFavorite = true;
                }
            });
            return isFavorite;
        },
        getFavorites: function(){
            return JSON.parse(window.localStorage.getItem('favorites'));
        },
        addToFavorite: function(e){
            var target = $(e.currentTarget),
                    favorite = this.openDetail,
                    favorites = this.getFavorites(),
                    model = listings.where({guid: this.openDetail.guid});

            if(!favorites){
                favorites = [];
            }
            if(!target.hasClass('active')){
                target.addClass('active');
                favorites.unshift(favorite);
                if(model[0]){
                    model[0].attributes.isFavorite = true;
                }
                window.localStorage.setItem('favorites', JSON.stringify(favorites));
            }else{
                var positionInArray = mainScreen.findObjPositionInArray(favorites, favorite.guid, 'guid');
                target.removeClass('active');
                favorites.splice(positionInArray, 1);
                if(model[0]){
                    model[0].attributes.isFavorite = false;
                }
                window.localStorage.setItem('favorites', JSON.stringify(favorites));
            }

        }
    });

    var mainScreen = new MainScreen();
    var listScreen = new ListScreen();
    var detailScreen = new DetailScreen();
    var favoritesScreen = new FavoriteScreen();
    var favoriteDetailScreen = new FavoriteDetailScreen();


//    -------------------------------ROUTERS--------------------------------
    var Router = Backbone.Router.extend({
        routes: {
            '' : 'home',
            'listView' : 'list_screen',
            'detailView/:id' : 'detail_screen',
            'favoriteView' : 'favorite_screen',
            'favoriteDetailView/:id' : 'favorite_detail_screen'
        },
        initialize: function() {
            //keep count of number of routes handled by your application
            Backbone.history.on('route',this.animate, this);
        },
        detail_screen: function(id){
            detailScreen.render(id)
        },
        favorite_detail_screen: function(id){
            favoriteDetailScreen.render(id);
        },
        animate: function() {
            var previous = states.get('previous');
            if(states.attributes.previous.length > 1 && states.attributes.forward){
                states.attributes.previous[states.attributes.previous.length-1].view.undelegateEvents();
                $(states.attributes.previous[states.attributes.previous.length-1].selector).removeClass('animate');
                $(states.attributes.previous[states.attributes.previous.length-1].selector).addClass('left');
                $(states.attributes.current.selector).removeClass('right');
                $(states.attributes.current.selector).addClass('animate');
            }else if(!states.attributes.forward){
                states.attributes.current.view.delegateEvents();
                $(states.attributes.current.selector).removeClass('animate');
                $(states.attributes.current.selector).addClass('right');
                $(states.attributes.previous[states.attributes.previous.length-1].selector).removeClass('left');
                $(states.attributes.previous[states.attributes.previous.length-1].selector).addClass('animate');
                states.set({current: {url: previous[previous.length - 1]['url'], selector: previous[previous.length - 1]['selector'], view: previous[previous.length - 1]['view']}});
                states.attributes.previous.length = states.attributes.previous.length - 1;
            }
        }
    });
    var router = new Router();
    router.on('route:home', function(){
        mainScreen.render();
    });
    router.on('route:list_screen', function(){
        listScreen.render();
    });
    router.on('route:favorite_screen', function(){
        favoritesScreen.render();
    });


    Backbone.history.start();
</script>
</html>